In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
import ipywidgets

In [3]:
# set column name
ufo_country = pd.read_csv("https://github.com/UIUC-iSchool-DataViz/is445_AOUAOG_fall2021/raw/master/week05/data/ufo-scrubbed-geocoded-time-standardized-00.csv",
                  names = ["date", "city", "state", "country",
                          "shape", "duration_seconds", "duration",
                          "comment", "report_date", "latitude", "longitude"],
                  parse_dates = ["date", "report_date"])

In [4]:
ufo_country

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

In [5]:
# correct NAN
ufo_country = ufo_country.fillna({'country':'unknown', 'state': 'unknown', 'shape':'unknown'})

In [6]:
ufo_country

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,unknown,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),unknown,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

In [7]:
# set sampling
import random

# set a seed
random.seed(1234)
# 5000 samples
nsamples = 5000
small_sample = np.random.choice(range(len(ufo_country)-1), nsamples, replace=False)

In [8]:
small_sample

array([55906, 56179, 53360, ..., 78845, 78537, 51413])

In [9]:
ufo_small = ufo_country.loc[small_sample]

In [10]:
ufo_small

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
55906,1980-07-13 00:00:00,hardwick,vt,us,cylinder,40.0,half hour,The craft passed over us very slowly making no...,2007-02-01,44.504722,-72.368611
56179,2013-07-13 23:09:00,dallas,tx,us,triangle,60.0,1 minute,It look triangle in shape off laprada and 635 ...,2013-07-14,32.783333,-96.800000
53360,2007-06-03 17:00:00,hempstead,ny,us,unknown,120.0,minutes,I was at Hempstead Lake Park in early June 07&...,2008-01-21,40.706111,-73.619167
66424,1996-08-15 02:30:00,grand rapids,mi,us,light,1800.0,20-30 min,Two small objects that appeared to be non-tere...,1998-03-07,42.963333,-85.668056
27083,2007-02-17 03:30:00,pacific/algona (route 167 sb),wa,unknown,oval,2400.0,40 minutes,Pacific Algona 167 SB UFO observery datetime i...,2012-07-04,47.273617,-122.255953
...,...,...,...,...,...,...,...,...,...,...,...
26160,2011-02-12 01:55:00,cape may,nj,us,light,5.0,5 seconds,i fast moving red light&#44 turned to blue&#44...,2011-02-18,38.935000,-74.906389
36427,1993-04-13 22:30:00,indianapolis,in,us,circle,900.0,10-15 minutes,A rotating&#44 soundless object followed me ho...,2004-03-02,39.768333,-86.158056
78845,1993-09-03 15:00:00,burnt ranch,ca,us,disk,1800.0,30 min.,Huge disk with hour glass directly above (cent...,1999-02-16,40.809167,-123.473056
78537,2012-09-29 21:15:00,erie,pa,us,fireball,600.0,10 minutes,5 orange/red&#44 burning lights in zig-zag for...,2012-10-30,42.129167,-80.085278
51413,1996-06-24 15:00:00,smryna,ga,unknown,oval,300.0,5 minutes,silver&#44 blimp-shaped object seen over downt...,2004-09-09,33.883993,-84.514376

In [11]:
# count the variable "country"
sightings = ufo_small.groupby(['country'])['city'].describe()
sightings

        count unique                            top freq
country
au         31     19  melbourne (vic&#44 australia)    4
ca        194    120             vancouver (canada)   11
de          5      5                neuss (germany)    1
gb        110     80            london (uk/england)    8
unknown   645    604                     uk/england    7
us       4015   2265                        phoenix   34

In [12]:
# sort the data 
ufo_count = sightings["count"]
ufo_order = ufo_count.sort_values()
ufo_order

country
de            5
au           31
gb          110
ca          194
unknown     645
us         4015
Name: count, dtype: object

In [13]:
@ipywidgets.interact(style = plt.style.available)
def make_plot(style):
    with plt.style.context(style):
        ax = ufo_order.plot(kind = "bar", rot=90, label='')
        ax.set_xlabel("countries")
        ax.set_ylabel("number of UFO sightings")
    plt.show()

interactive(children=(Dropdown(description='style', options=('Solarize_Light2', '_classic_test_patch', 'bmh', â€¦

# Explanation

I would like choose bar chart here. The reason is I think only bar chart can clearly expresses the difference. If I change to
line chart and scatter plot, the graph will make audience feel confuse and unclear.